.containter {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: -1px -1px 70px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 70px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 70px 0px rgba(0,0,0,0.75);
}
.myList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    li {
        display: flex;
        justify-content: space-between;
        background: lightgray;
        margin: 0 0 15px 0;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        font-size: 25px;
        color: #000;
    }
}
.filed {
    width: 50%;
    height: 35px;
}
.form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.error {
    border:2px solid red;
}
.containter h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}
.inputField {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
}
.addBtn a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff !important;
}
.close {
    margin: 0;
}